<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.greengram.feed.comment.FeedCommentMapper">

    <!-- PK값 리턴 -->
    <insert id="insFeedComment" useGeneratedKeys="true" keyProperty="feedCommentId">
        INSERT INTO feed_comment
          SET feed_id = #{feedId}
            , user_id = #{userId}
            , comment = #{comment}
    </insert>

    <!--feedService에서는 첫페이지(댓글 3개), feedCommentService는 그 이후 페이지(더보기)-->
    <select id="selFeedCommentList">
        SELECT a.feed_comment_id as feedCommentId
             , a.comment
             , b.user_id as writerUserId
             , IF(b.nick_name IS NULL, b.uid, b.nick_name)
             , b.pic as writerPic
         FROM feed_comment a
        INNER JOIN user b
           ON a.user_id = b.user_id
        WHERE a.feed_id = #{feedId}
        ORDER BY feed_comment_id desc
        LIMIT #{startIdx}, #{size}<!--얘만 조절하면 다른 페이지도 가능-->
    </select>

    <delete id="delFeedComment">
        DELETE FROM feed_comment
        WHERE feed_comment_id = #{feedCommentId}
        AND user_id = #{userId}
    </delete>

    <select id="selFeedCommentListByFeedIdsLimit4">
        SELECT T.feedId, T.feedCommentId, T.comment, T.writerUserId, T.writerNm, T.writerPic
        FROM (
        SELECT ROW_NUMBER() OVER (PARTITION BY A.feed_id ORDER BY A.feed_id, A.feed_comment_id DESC) AS num
        , A.feed_id AS feedId
        , A.feed_comment_id AS feedCommentId
        , A.comment
        , B.user_id AS writerUserId
        , IF(B.nick_name IS NULL, B.uid, B.nick_name) AS writerNm
        , B.pic AS writerPic
        FROM feed_comment A
        INNER JOIN user B
        ON A.user_id = B.user_id
        WHERE A.feed_id IN
        <foreach collection="feedIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ) T
        WHERE T.num <![CDATA[ <= ]]> 4
    </select>

    <!-- resultMap으로 매핑해서 밑에서 나온 결과를 여기 담아서 id는 pk라서 중복이면 하나로 만들어줌-->
    <resultMap id="feedResultMap" type="com.green.greengram.feed.model.FeedWithPicCommentDto">
        <id property="feedId" column="feedId" /> <!--property는 객체의 멤버필드 이름, column은 쿼리의 컬럼명-->
        <result property="contents" column="contents" />
        <result property="location" column="location" />
        <result property="createdAt" column="createdAt" />
        <result property="writerUserId" column="writerUserId" />
        <result property="writerNm" column="writerNm" />
        <result property="writerPic" column="writerPic" />
        <result property="isLike" column="isLike" />
        <collection property="pics" resultMap="feedPicResultMap" /> <!--id기준으로 pic을 리스트로 자동으로 만들어줌-->
        <collection property="commentList" resultMap="feedCommentResultMap" /> <!--collection은 리스트다-->
    </resultMap>

    <resultMap id="feedPicResultMap" type="String">
        <id property="pic" column="pic" />
    </resultMap>

    <resultMap id="feedCommentResultMap" type="com.green.greengram.feed.comment.model.FeedCommentDto">
        <id property="feedCommentId" column="feed_comment_id" /> <!--id 기준으로 리스트로 담아줌-->
        <result property="comment" column="comment" />
        <result property="writerUserId" column="commentWriterUserId" />
        <result property="writerNm" column="commentWriterNm" />
        <result property="writerPic" column="commentWriterPic" />
    </resultMap>

    <select id="selFeedCommentListByFeedIdsLimit4Ver2" resultMap="feedResultMap">
        SELECT T.feedId, T.feedCommentId, T.comment, T.writerUserId, T.writerNm, T.writerPic
        FROM (
        SELECT ROW_NUMBER() OVER (PARTITION BY A.feed_id ORDER BY A.feed_id, A.feed_comment_id DESC) AS num
        , A.feed_id AS feedId
        , A.feed_comment_id AS feedCommentId
        , A.comment
        , B.user_id AS writerUserId
        , IF(B.nick_name IS NULL, B.uid, B.nick_name) AS writerNm
        , B.pic AS writerPic
        FROM feed_comment A
        INNER JOIN user B
        ON A.user_id = B.user_id
        WHERE A.feed_id IN
        <foreach collection="feedIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ) T
        WHERE T.num <![CDATA[ <= ]]> 4
    </select>

</mapper>